.alert-class{
    -fx-background-color: #ffffff;
}
.alert-class > *.button-bar > *.container{
    -fx-background-color: #ffffff;
}
.alert-class > *.label.content{
    -fx-font-size: 22px;

}
.alert-class:header *.header-panel{
    -fx-background-color: #a59c31;
}
.alert-class:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}